Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: ''
HeaderFilterRegex: '^(code|project|capstones)/'
FormatStyle: file
